<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seeds SHOP</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
   
     .jumbotron {
      margin-bottom: 0;
    }
   
    
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron" style="background-image:url(https://seednet.gov.in/images/seed.jpg);background-repeat:repeat none;background-size:cover;background-opacity:0.4">
  <div class="container text-center">
    <h1 style="font:black">Seeds & Fertilizers</h1>      
    
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">AgriMate</a></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BASIL SEEDS</div>
        <div class="panel-body"><img src="https://i.ndtvimg.com/i/2016-07/sabja-seeds_625x350_61469801090.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">₹90 (1mg)</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">SOYA SEEDS</div>
        <div class="panel-body"><img style="height:183px;width:328px" src="https://legendseeds.net/application/files/7115/4695/9892/Soybean_Seeds_Blog.JPG" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">₹450 (500g)</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Gram SEEDS</div>
        <div class="panel-body"><img style="height:183px;width:328px" src="http://www.differencebetween.info/sites/default/files/images/2/gram.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">₹150 (500g)</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">FERTILIZER</div>
        <div class="panel-body"><img style="height:183px;width:328px" src="https://mobileimages.lowes.com/product/converted/021496/021496017662.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">₹1500 (500g)</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">SICKLE</div>
        <div class="panel-body"><img style="height:183px;width:328px" src="http://fmexim.com/img/agricultural-tools-sickle.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">₹200</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">HARVESTOR</div>
        <div class="panel-body"><img src="https://www.heavydutydirect.ca/wp-content/uploads/2019/02/Buy-Heavy-Duty-Farm-Equipment-400x224.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">₹2,00,000</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Copyright2019</p>  
  
</footer>

</body>
</html>
